<div class="wrapper">
    <button type="button" class="btn btn-primary" (click)="openpopup()">Popup</button>
</div>
<div class="over-lay" *ngIf="show" (click)="closeoverlay($event)">
    <div class="content">
        <div class="close" (click)="closepopup()">
            &times;
        </div>
        username: <input type="text" class="form-control">
        password: <input type="password" class="form-control">
        <button  routerLink="/home" class="btn btn-primary mt-4">signIn</button>
    </div>
</div>  

<div class="dropdown">
    <select (change)="updateDistricts($event)">
        <option value="-1">select State</option>
        <option value="{{s['id']}}" *ngFor="let s of States">{{s['name']}}</option>
    </select>&nbsp;
    <select>
        <option value="-1">select Districts</option>
        <option value="{{d['id']}}" *ngFor="let d of filteredDistricts">{{d['name']}}</option>

    </select>
</div>


<div *ngIf ="mobiles" class="container mob-table">

    <div class="headers">
    <h2 class="table-title">Manage mobiles</h2>
    <button class="btn add">Add</button>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Mobile</th>
                <th>price(Rs)</th>
                <th>Ram</th>
                <th>Storage</th>
            </tr>
        </thead>
        <tbody class="text-center">
            <tr *ngFor="let mobile of mobiles">
                <td>{{mobile['name']}}</td>
                <td>{{mobile['price']}}</td>
                <td>{{mobile['ram']}}</td>
                <td>{{mobile['storage']}}</td>
                <td> 
                    <button class="btn-primary">Edit</button>
                </td>
                <td>      
                    <button class="btn-danger">Delete</button>
                </td>
            </tr>
    
        </tbody>
    </table>
    </div>