<p>home works!</p>
<button routerLink="/login"class='btn-btn-primary'>Login</button>

    <form>
        <label for="username"> username:</label>
        <input type="text" id="name"formControlName ="username" required>
      
        <!-- <label for="email">Email:</label>
        <input type="email" id="email" name="email" required> -->
      
        <label for="password">Password:</label>
        <input type="password" id="password" formControlName="password" minlength="8" required>
      
        <button type="submit" routerLink="/login"class='btn-btn-primary'>Login</button>
      </form>
      
